<div class="router-wrapper">
  <div class="card border-0 shadow-sm bg-white mx-3 mb-3">
    <p class="lead fs-6 headline"><b>All Offers</b></p>
    <div class="table-main table-responsive">
      <table>
        <thead>
          <tr>
            <th>Offer ID</th>
            <th>Journey ID</th>
            <th>Validity</th>
            <th>Data Owner</th>
            <th>Equipment</th>
            <th>Sensor</th>
            <th>Processing Level</th>
            <th>Price</th>
            <th>Deposit</th>
            <th>Departure Date</th>
            <th>Arrival Date</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="existingOfferData.length==0">
            <td colspan="12" class="pb-5">
              <div class="center pt-5 pb-3">
                <img src="../../../assets/images/empty_table.svg" alt="et" width="100px">
              </div>
              <p class="lead text-danger">No Records Found !</p>
            </td>
          </tr>
          <tr *ngFor="let item of existingOfferData | paginate:config; let i=index">
            <td>{{item.Record.id}}</td>
            <td>{{item.Record.journey_uid}}</td>
            <td>{{item.Record.validity}}</td>
            <td>{{item.Record.data_owner}}</td>
            <td>{{item.Record.equipment}}</td>
            <td>{{item.Record.monitered_asset}}</td>
            <td>{{item.Record.processing_level}}</td>
            <td>{{item.Record.price}}</td>
            <td>{{item.Record.deposit}}</td>
            <td>{{item.Record.depart_time}}</td>
            <td>{{item.Record.arrival_time}}</td>
            <!-- <td>{{currentDate > item.Record.arrival_time ? 'Expired' : 'Active'}}</td> -->

            <!-- <td *ngIf=" item.Record.hideAction == true"
            ><button class="btn btn-sm req-btn btn-main2" (click)="offerRequest(item.Record.id,item.Record.deposit,item.Record.price)">Request</button></td>
            <td *ngIf=" item.Record.hideAction == false"
            ><button class="nonactive">Expired</button></td> -->
            <!-- <td>
            <button class="btn btn-sm req-btn btn-main2" (click)="offerRequest(item.Record.id,item.Record.deposit,item.Record.price)">Request</button>
          </td> -->
            <td>
              <div class="d-flex justify-content-center">
                <button *ngIf="item.Record.is_active == true && item.Record.hideAction == true"
                  class="btn btn-sm req-btn btn-main2"
                  (click)="offerRequest(item.Record.id,item.Record.deposit,item.Record.price)" disabled>Expired</button>
                <button *ngIf="item.Record.is_active == true && item.Record.hideAction == false"
                  class="btn btn-sm req-btn btn-main2"
                  (click)="offerRequest(item.Record.id,item.Record.deposit,item.Record.price)">Request</button>
                <button *ngIf="item.Record.is_active == false && item.Record.hideAction == true"
                  class="btn btn-sm req-btn btn-main2" disabled>Expired</button>
                <button *ngIf="item.Record.is_active == false && item.Record.hideAction == false"
                  class="btn btn-sm req-btn btn-main2" disabled>Requested</button>



              </div>
            </td>




          </tr>
        </tbody>
      </table>
    </div>
    <ng-container *ngIf="existingOfferData.length>10">
      <div class="d-flex justify-content-end mt-2">
        <pagination-controls (pageChange)="config.currentPage=$event" class="my-pagination">
        </pagination-controls>
      </div>
    </ng-container>
  </div>
</div>