<div class="router-wrapper">
    <div class="card border-0 shadow-sm bg-white mx-3 mb-3">
        <div style="display: flex;justify-content: space-between; align-items: center; padding: 0 1rem; margin-bottom: 1rem; border-bottom: 1px solid #e5e5e5; height: 4rem;">
            <div class="d-flex justify-content-start">
                <p class="lead fs-6 headline"><b>Journey Details</b></p>
            </div>
            <div class="d-flex justify-content-end">
                <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon2" [(ngModel)]="searchText" (ngModelChange)="searchJourney()">
            <span class="input-group-text" id="basic-addon2"><i class="fa fa-search"></i></span>
        </div>
                 </div>
    
    <div class="d-flex justify-content-end">
        <button class="btn btn-sm btn-main2-acc" (click)="addJourney()">Add Journey</button>
    </div>
    </div>
        <div class="table-main table-responsive">
            <table>
                <thead>
                    <tr>
                        <th>UID</th>
                        <th>Type</th>
                        <th>Category</th>
                        <th>Days</th>
                        <th>Journey Name</th>
                        <th>Operator</th>
                        <th>Document Type</th>
                        <th>Valid From</th>
                        <th>Valid To</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="allRequests.length==0">
                        <td colspan="12" class="pb-5">
                            <div class="center pt-5 pb-3">
                                <img src="../../../assets/images/empty_table.svg" alt="et" width="100px">
                            </div>
                            <p class="lead text-danger">No Records Found !</p>
                        </td>
                    </tr>
                    <tr *ngFor="let item of allRequests let i=index">
                        <td>{{item.uid}}</td>
                        <td>{{item.type}}</td>
                        <td>{{item.cat}}</td>
                        <td>{{item.days}}</td>
                        <td>{{item.journey}}</td>
                        <td>{{item.operator}}</td>
                        <td>{{item.docType}}</td>
                        <td>{{item.valid_from}}</td>
                        <td>{{item.valid_to}}</td>
                        <td>{{currentDate > item.valid_to ? 'Expired' : 'Active'}}</td>
                        <td>
                            <div class="d-flex justify-content-center">
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="d-flex justify-content-center">
            <ng-container *ngIf="allRequests.length>10">
                <pagination-controls (pageChange)="pageChange($event)" [responsive]="true"></pagination-controls>
            </ng-container>
        </div>
    </div>
</div>
